
<div class="panel panel-default">
<div class="panel-heading" align="center">
    <h2>About Us</h2>
</div>
<div class="panel-body">

    <p>
        At ZA Khan Optometrists, How you look is just as important as how well you see.<br/><br/>
        Built on a passion for the optical profession and a drive for unparalleled customer service, We offer an unbeatable combination of style, value for money and expertise
        Our extensive range of designer eyewear - such as Bvlgari, Prada, Oakley, Rayban, Tag Heuer, Levis, Guess, and D&G - spoil you for choice
        With over 25 years of being in practice, we have experience in all aspects of optometry
        Our friendly staff are experts in eye care and will be happy to help and give advice on the best product for you.<br/><br/>
        Our aim is to make sure you are satisfied with your purchase
    </p>
</div>
</div>