@{
    ViewBag.Title = "Contact";
}



<div class="panel panel-default">
    <div class="panel-heading" align="center">
        <h2>Contact</h2>
    </div>
<div class="panel-body">

    <address>
        GATEWAY<br/>

        Email: ZA.Khan@Gmail.com<br/>

        Tel : 031 566 2250
    </address>
</div>
</div>