@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">

    <img width=1020 height="485" src="~/Content/Images/clear.jpg" />
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>